@media (min-width: 1000px) {}

@media (max-width: 1260px) {

    /* page */

    .page__container {
        flex-basis: 100%;
        max-width: 100%;
    }

}


@media (max-width: 1010px) {

    /* mid */
    .mid__inner {
        flex-direction: column;
    }

    .mid__sidebar {
        width: calc(100% - var(--margin) * 2);
        margin: var(--margin);
    }

    .mid__content {
        width: calc(100% - var(--margin) * 2);
        margin: var(--margin);
        order: -1;
    }

    /* footer */

    .footer__nav {
        padding: 0;
    }

}

@media (max-width: 800px) {

    /* footer */

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .footer__nav {
        padding: 20px 0;
    }

    .cp-box__gwi {
        display: block;
        font-size: 30px;
        position: relative;
        z-index: 5;
    }

    .cp-box__btn-content {
        display: none;
    }

    .cp-box__btn {
        width: 50px;
    }

}

@media (max-width: 600px) {

    /* event */

    .events__event {
        padding: 60px 5px 5px 5px;
    }

    .event__title {
        font-size: 16px;
    }

    /* ww */
    .ww__inner {
        padding-right: 15px;
        padding-left: 15px;
    }
}



@media (max-width: 1000px) AND (max-height: 400px) {}