<Files ~ "\.tpl$"> 
Order allow,deny 
Deny from all 
</Files>

# Initialization
AddDefaultCharset UTF-8
Options -Indexes
RewriteEngine on
RewriteBase /
 
# Hide text files
RewriteRule ^.htaccess$ - [F]
 
# Remove trailing slash from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$  /$1 [R=301,L]

# Engine routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [L]
