.options-container .options-overlay-show {
    opacity: 1;
    visibility: visible;
}
/* чекбоксы платежного сервиса */
.cc-selector-2 input{
    position:absolute;
    z-index:999;
}
.cc-selector-2 input:active +.drinkcard-cc { opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.drinkcard-cc{
    cursor: pointer;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.drinkcard-cc img{
    border-radius: 4px;
}
/* чекбоксы платежного сервиса конец*/

/* список аккаунтов*/
.list_account div.accordion_account::before {
    content: '\f105';
    opacity: .4;
}
.list_account.open>div.accordion_account::before {
    opacity: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.list_account div.accordion_account::after {
    content: '\f103';
    opacity: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.list_account.open>div.accordion_account::after {
    opacity: .4;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.list_account div.accordion_account::before, .list_account div.accordion_account::after {
    position: absolute;
    left: 21px;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    font-family: FontAwesome,"Font Awesome 5 Free","Font Awesome 5 Pro";
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
}
/* список аккаунтов конец*/
.btn-create-account{
    position: absolute;
    padding: 0.3571429rem 0.64285714rem;
    font-size: 0.9286rem;
    line-height: 20px;
    z-index: 2;
    top: 10px;
    right: -8px;
    padding-left: 12px;
    padding-right: 12px;
}
/* Кастомные выбор
https://bootsnipp.com/snippets/gvlK7
*/
.form-group input[type="radio"],
.form-group input[type="checkbox"]{
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label,
.form-group input[type="radio"] + .btn-group > label{
    white-space: normal;
}

.form-group input[type="checkbox"] + .btn-group > label.btn-default,
.form-group input[type="radio"] + .btn-group > label.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    cursor: pointer;
}

.form-group input[type="radio"] + .btn-group > label span:first-child,
.form-group input[type="checkbox"] + .btn-group > label span:first-child{
    display: none;
}

.form-group input[type="radio"] + .btn-group > label span:first-child + span,
.form-group input[type="checkbox"] + .btn-group > label span:first-child + span{
    display: inline-block;
}

.form-group input[type="radio"]:checked + .btn-group > label span:first-child,
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child{
    display: inline-block;
}

.form-group input[type="radio"]:checked + .btn-group > label span:first-child + span,
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child + span{
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span[class*="fa-"],
.form-group input[type="radio"] + .btn-group > label span[class*="fa-"]{
    width: 15px;
    float: left;
    margin: 4px 0 2px -2px;
}

.form-group input[type="checkbox"] + .btn-group > label div.content-label,
.form-group input[type="radio"] + .btn-group > label div.content-label{
    margin-left: 22px;
}
/* Кастомные выбор конец*/